<nav
  [ngClass]="menuService.showSideBar ? 'w-52 xl:w-64' : 'w-[70px]'"
  class="w-64 scrollbar-thin scrollbar-thumb--sm scrollbar-track-transparent scrollbar-thumb-card bg-background hidden h-full flex-col justify-between overflow-auto pt-3 transition-all duration-300 lg:flex"
>
  <!-- Logo Section -->
  <div class="px-4">
    <div class="h-10">
      <div class="flex items-center justify-between">
        <!-- Logo and Text -->
        <div class="flex items-center">
          <img src="/bg/sd-bg.png" alt="Logo SisDocx" class="h-10 w-auto">
          <b
            class="text-foreground m-1 text-sm font-bold transition-all duration-300"
            [ngClass]="menuService.showSideBar ? 'flex' : 'hidden'"
          >
            SisDocx
          </b>
        </div>
        <!-- Collapsing button (visible when sidebar is open) -->
        <button
          (click)="toggleSidebar()"
          class="p-5"
          [ngClass]="!menuService.showSideBar ? 'hidden' : 'flex'"
        >
          &lt; <!-- Flecha para colapsar -->
        </button>
      </div>
    </div>

    <!-- User Profile Section -->
    <div class="flex items-center justify-center pt-3">
      <div class="pt-3 transition-all duration-300">
        <span
          [ngClass]="menuService.showSideBar ? 'flex ml-2 text-sm justify-start w-full px-3' : 'hidden'"
        >
          Zara Larsson
        </span>
        <span
          [ngClass]="menuService.showSideBar ? 'hidden' : 'ml-2 text-sm'"
        >
          ZL
        </span>
      </div>
    </div>

    <!-- General Button (Visible when Sidebar is expanded) -->
    <div class="pt-3">
      <button
        class="text-sm shadow-xs flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 items-center transition-all duration-300"
        [ngClass]="menuService.showSideBar ? 'justify-start w-full px-3' : 'w-[40px] h-[40px] justify-center'"
      >
        <!-- Text (Hidden when the sidebar is collapsed) -->
        <span [ngClass]="{ 'hidden': !menuService.showSideBar }" class="ml-2 text-sm">Crear Carpeta</span>
      </button>
    </div>

    <!-- Menu Group (could be a list or sidebar menu component) -->
    <small class="text-sm font-semibold">Grupo de Menus</small>
    <!-- <app-sidebar-menu></app-sidebar-menu> -->
  </div>

  <!-- Bottom Section: Collapsing button and Storage Info -->
  <div class="px-4 bg-red-300">

    <b
      class="text-foreground m-1 text-sm font-bold transition-all duration-300"
      [ngClass]="menuService.showSideBar ? 'flex' : 'hidden'"
    >
      Almacenamiento
    </b>

    <div class="flex items-center content-center">
      <!-- Button to expand/collapse the sidebar (visible only when collapsed) -->
      <button
        (click)="toggleSidebar()"
        class="items-center"
        [ngClass]="!menuService.showSideBar ? 'flex' : 'hidden'"
      >
        &rarr; <!-- Flecha para expandir -->
      </button>
    </div>
  </div>
</nav>
