<div class="flex flex-col h-full">
  <div>
    <header class="mb-0 @container xs:-mt-2 lg:mb-0">
      <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
        <div>
          <h2 class="font-bold mb-0 text-[22px] text-gray-800 lg:text-2xl 4xl:text-[26px]">
            Mis Documentos
          </h2>
        </div>
      </div>
    </header>
  </div>

  <app-tabs
    [tabs]="tabs"
    (tabChange)="onTabChange($event)"
    class="flex flex-col h-full"
  >
    <div *ngIf="activeTab === 'documentos'" (click)="onReload()" class="h-full">
      <app-documentos-table />
    </div>
    <div *ngIf="activeTab === 'documentos-por-usuario'" class="h-full">
      <app-documentos-por-usuario-table />
    </div>
  </app-tabs>
</div>

<!-- Modal de confirmación -->
<app-confirm-modal />
