<div class="rounded-lg border border-gray-300 select-none">
  <!-- Cabecera -->
  <div
    (click)="toggleCollapse()"
    class="flex cursor-pointer items-center justify-between gap-4 p-3 md:p-5"
  >
    <!-- Información de la revisión -->
    <div class="flex gap-2 sm:items-center md:gap-4">
      <!-- Logo -->
      <div class="relative aspect-square w-10">
        <ng-container *ngIf="elementosRevision.elemento === 'CARPETA'">
          <svg-icon
            src="assets/icons/folder.svg"
            class="h-10 w-10"
            [svgClass]="'fill-current text-gray-800'"
          />
        </ng-container>

        <ng-container *ngIf="elementosRevision.elemento === 'ARCHIVO'">
          <svg-icon
            src="assets/icons/file.svg"
            class="h-10 w-10"
            [svgClass]="'fill-current text-gray-800'"
          />
        </ng-container>
      </div>

      <!-- Remitente -->
      <div class="sm:flex sm:flex-col">
        <!-- <span
          class="inline-block sm:hidden text-xs font-semibold bg-blue-100 text-blue-700 px-2 py-1 rounded-md mb-2"
        >
          Business
        </span> -->
        <h5 class="text-lg font-semibold text-gray-900">
          {{ elementosRevision.remitente }}
        </h5>
        <ul class="flex items-center divide-x text-sm text-gray-600">
          <li class="px-1.5 first:pl-0">{{ elementosRevision.provincia }}</li>
          <li class="px-1.5">{{ elementosRevision.fechaEnvio }}</li>
        </ul>
      </div>
    </div>


    <div class="flex items-center gap-3">

      <!-- Revisor si existe -->
      <ng-container *ngIf="elementosRevision.revisor">
        <div class="flex flex-col items-end gap-0">
          <span class="px-1.5 text-sm font-semibold first:pl-0">
            {{ elementosRevision.revisor }}
          </span>
          <span class="px-1.5 text-sm font-semibold">
            {{ elementosRevision.fechaRevision }}
          </span>
        </div>
      </ng-container>

      <!-- Estado de la revisión -->
      <div>
        <ng-container *ngIf="elementosRevision.estadoRevision === 'APROBADO'">
          <span
            class="text-xs bg-green-100 text-green-800 font-semibold px-3.5 py-1 rounded-md"
          >
            {{ elementosRevision.estadoRevision }}
          </span>
        </ng-container>

        <ng-container *ngIf="elementosRevision.estadoRevision === 'PENDIENTE'">
          <span
            class="text-xs bg-yellow-100 text-yellow-800 font-semibold px-3.5 py-1 rounded-md"
          >
            {{ elementosRevision.estadoRevision }}
          </span>
        </ng-container>

        <ng-container *ngIf="elementosRevision.estadoRevision === 'RECHAZADO'">
          <span
            class="text-xs bg-red-100 text-red-800 font-semibold px-3.5 py-1 rounded-md"
          >
            {{ elementosRevision.estadoRevision }}
          </span>
        </ng-container>
      </div>

      <div
        [ngClass]="{ 'rotate-180': isExpanded }"
        class="transition-transform duration-300 flex h-6 w-6 items-center justify-center rounded-full bg-gray-100 text-gray-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-3 w-3"
          fill="currentColor"
          viewBox="0 0 256 256"
        >
          <path
            d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
          />
        </svg>
      </div>
    </div>
  </div>

  <!-- Panel de contenido colapsable -->
  <div *ngIf="isExpanded" class="transition-all duration-300 overflow-hidden">
    <div class="bg-gray-50 px-5 py-3 text-sm text-gray-600">
      Contenido expantidle de los elementos de tipo carpeta y archivo
    </div>
    <!-- Aquí va todo el contenido interno que ya tienes (vuelos, horarios, etc.) -->
    <!-- Puedes pegar directamente ese contenido acá -->
  </div>

  <!-- Footer -->
  <div
    class="flex flex-wrap justify-between gap-4 border-t border-dashed border-gray-300 p-5"
  >
    <div class="text-gray-700 text-md font-semibold">
      {{ elementosRevision.observaciones }}
    </div>
    <div class="flex gap-4">
      <button
        class="text-primary border-b border-primary text-xs font-medium hover:text-primary-dark"
      >
        Rechazar
      </button>
      <button
        class="bg-blue-600 hover:bg-blue-700 text-white text-xs font-medium px-4 py-2 rounded-md"
      >
        Aprobar
      </button>
    </div>
  </div>
</div>
