<div class="relative inline-block text-left">
  <!-- Botón del Dropdown -->
  <button
    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none"
    (click)="toggleDropdown($event)"
    [attr.aria-expanded]="isOpen"
  >
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 16 3"
    >
      <path
        d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
      />
    </svg>
  </button>

  <!-- Dropdown -->
  <div
    class="absolute right-0 mt-2 z-20 bg-white rounded-lg shadow-lg w-44 dark:bg-gray-700"
    [class.hidden]="!isOpen"
  >
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
      <li>
        <button
          (click)="onPapelera()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Mover a Papelera
        </button>
      </li>
      <li>
        <button
          (click)="onFavorito()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Favorito
        </button>
      </li>
      <li>
        <button
          (click)="onDescargar()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Descargar
        </button>
      </li>
      <li>
        <button
          (click)="onCambiarNombre()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Cambiar Nombre
        </button>
      </li>
      <li>
        <button
          (click)="onMover()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Mover
        </button>
      </li>
    </ul>
  </div>
</div>
