<div class="flex flex-col h-full">
    <header>
    <h2
      class="font-bold mb-0 text-[22px] text-gray-800 lg:text-2xl 4xl:text-[26px]"
    >
      Revisiones
    </h2>
  </header>

  <app-tabs
    [tabs]="tabs"
    (tabChange)="onTabChange($event)"
    class="flex flex-col h-full"
  >
    <ng-container
      *ngIf="activeTab === 'por-aprobar'"
      (click)="onReload()"
      class="h-full"
    >
      <app-tabla-desplegable
        [elementosRevision]="revisionesPendientes"
        (verArchivo)="onVerArchivo($event)"
        (aprobarRevision)="onAprobarRevision($event)"
        (rechazarRevision)="onRechazarRevision($event)"
      />
    </ng-container>
    <ng-container *ngIf="activeTab === 'todas-revisiones'" class="h-full">
      <app-tabla-desplegable
        [elementosRevision]="revisionesAprobadasYRechazadas"
        (verArchivo)="onVerArchivo($event)"
      />
    </ng-container>
  </app-tabs>
</div>

<!-- Modals -->
<app-documentos-preview-modal
  *ngIf="isOpenPreviewModal"
  [elemento]="elementoAPrevisualizar"
  (cerrar)="onPreviewClose()"
/>

<!-- Modal de confirmación -->
<app-confirm-modal />
