<!-- Layout principal de autenticación -->
<div class="flex h-screen w-screen select-none relative">
  <!-- Logo Superior Izquierdo -->
  <div class="absolute left-6 top-6 flex items-center z-10">
    <div class="inline-flex items-center" href="/">
      <img
        alt="SisDocx"
        loading="lazy"
        width="45"
        height="45"
        decoding="async"
        data-nimg="1"
        style="color: transparent"
        src="assets/bg/eeasa-icon.png"
        class="hover:scale-105 transition-transform duration-300"
      />
      <div class="text-sm ml-3 leading-snug font-bold text-gray-800">
        SisDocx - Sistema Documental
      </div>
    </div>
  </div>

  <!-- Sección Izquierda: Inicio Sesión -->
  <div
    class="bg-background flex flex-1 flex-col items-center justify-center relative"
  >
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- Route: Login Form -->
      <router-outlet></router-outlet>
    </div>

    <!-- Footer Izquierdo -->
    <div class="absolute bottom-5 left-5 text-xs text-gray-600">
      <!-- <p>© 2025 Área de Calidad.</p> -->
      <p class="mt-1">Versión 1.0.0</p>
    </div>
  </div>

  <!-- Sección Derecha: Imagen con Overlay -->
  <div class="hidden h-full w-1/2 lg:flex relative">
    <!-- Overlay gradiente -->

    <!-- <div
      class="absolute inset-0 bg-gradient-to-r from-black/50 to-transparent z-10"
    ></div> -->

    <div
      class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"
    ></div>

    <!-- Imagen de fondo -->
    <img
      src="assets/bg/eeasa-bg.jpg"
      alt="EEASA"
      class="h-full w-full object-cover"
    />

    <!-- Footer Derecho -->
    <div class="absolute bottom-8 right-10 z-20 text-white max-w-md">
      <p class="text-sm font-semibold">Empresa Eléctrica Ambato S.A.</p>
      <p class="text-sm text-right">Área de Calidad</p>
    </div>
  </div>
</div>
