<!-- Sidebar Principal -->
<nav
  [ngClass]="menuService.showSideBar ? 'w-64' : 'w-16'"
  class="scrollbar-thumb--sm scrollbar-track-rounded bg-white scrollbar-thin scrollbar-track-transparent scrollbar-thumb-gray-200 hidden h-full flex-col justify-between overflow-auto transition-all duration-300 ease-in-out lg:flex select-none border-r border-gray-200"
  role="navigation"
  aria-label="Navegación principal"
>
  <div class="flex flex-col h-full">
    <!-- Encabezado del Sidebar -->
    <div class="p-3">
      <app-sidebar-header
        [showSideBar]="menuService.showSideBar"
        (toggleSidebar)="toggleSidebar()"
      />
    </div>

    <!-- Menú de Acción -->
    <div class="p-3">
      <app-dropdown-menu
        [showSideBar]="menuService.showSideBar"
        [dropdownOpen]="dropdownOpen"
        (toggleDropdown)="toggleDropdown()"
        (abrirModalCrearCarpeta)="abrirModalCrearCarpeta($event)"
        (abrirModalCargaArchivos)="abrirModalCargaArchivos($event)"
        (abrirModalCargaCarpetas)="abrirModalCargaCarpetas($event)"
      />
    </div>

    <!-- Contenido Principal (Items del sidebar) -->
    <div>
      <app-sidebar-nav
        [showSideBar]="menuService.showSideBar"
        [dropdownOpen]="dropdownOpen"
        (toggleDropdown)="toggleDropdown()"
      />
    </div>
  </div>

  <!-- Pie del Sidebar -->
  <div class="p-2">
    <app-sidebar-footer
      *ngIf="!menuService.showSideBar"
      (toggleSidebar)="toggleSidebar()"
    />
  </div>
</nav>

<app-crear-carpeta-modal
  [isOpen]="isOpenCrearCarpetaModal"
  [carpetaPadreId]="carpetaPadreId"
  (close)="cerrarModalCrearCarpeta()"
  (carpetaCreada)="onCarpetaCreada()"
/>

<app-subir-archivo-modal
  [isOpen]="isOpenSubirArchivoModal"
  [carpetaPadreId]="carpetaPadreId"
  (close)="cerrarModalSubirArchivo()"
  (onArchivosSubidos)="onArchivosSubidos()"
  (onSubidaCompletada)="onSubidaCompletada()"
/>

<app-subir-carpeta-modal
  [isOpen]="isOpenSubirCarpetaModal"
  [carpetaPadreId]="carpetaPadreId"
  (close)="cerrarModalSubirCarpeta()"
  (carpetasSubidas)="onCarpetasSubidas()"
/>
