<!-- Bloque de Acciones -->
<div class="flex flex-col h-full gap-5">
  <div
    class="h-12 w-full rounded-lg flex items-center justify-between transition-all duration-300 ease-in-out transform p-2"
    [ngClass]="
      elementosSeleccionados.length > 0
        ? 'shadow-md border border-gray-200'
        : ''
    "
  >
    <!-- Mostrar cuando no hay elementos seleccionados -->
    <ng-container *ngIf="elementosSeleccionados.length === 0">
      <button
        class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
        (click)="vaciarPapelera()"
      >
        <svg-icon src="assets/icons/trash.svg" [svgClass]="'h-5 w-5 mr-1'" />
        Vaciar Papelera
      </button>
    </ng-container>

    <!-- Mostrar cuando se selecciona un solo elemento -->
    <ng-container *ngIf="elementosSeleccionados.length === 1">
      <div class="flex w-full justify-between select-none">
        <div class="flex gap-2">
          <button
            class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
            (click)="restaurarSeleccionados()"
          >
            <svg-icon
              src="assets/icons/trash.svg"
              [svgClass]="'h-5 w-5 mr-1'"
            />
            Restaurar
          </button>

          <button
            class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
            (click)="eliminarSeleccionados()"
          >
            <svg-icon
              src="assets/icons/trash.svg"
              [svgClass]="'h-5 w-5 mr-1'"
            />
            Eliminar permanentemente
          </button>
        </div>

        <div class="flex flex-row">
          <button
            class="text-sm p-1.5 text-gray-50 hover:text-white border border-gray-300 hover:bg-gray-50 font-medium rounded-lg text-center items-center transition-colors duration-200 flex"
            (click)="limpiarSeleccion()"
            aria-label="Limpiar selección"
          >
            <span class="text-sm font-medium text-gray-700 mr-2">
              <i class="bi bi-x-lg mr-2"></i>
              {{ elementosSeleccionados.length }} seleccionado(s)
            </span>
          </button>
        </div>
      </div>
    </ng-container>

    <!-- Mostrar cuando se seleccionan múltiples elementos -->
    <ng-container *ngIf="elementosSeleccionados.length > 1">
      <div class="flex w-full justify-between select-none">
        <div class="flex gap-2">
          <button
            class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
            (click)="restaurarSeleccionados()"
          >
            <svg-icon
              src="assets/icons/trash.svg"
              [svgClass]="'h-5 w-5 mr-1'"
            />
            Restaurar seleccionados
          </button>

          <button
            class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
            (click)="eliminarSeleccionados()"
          >
            <svg-icon
              src="assets/icons/trash.svg"
              [svgClass]="'h-5 w-5 mr-1'"
            />
            Eliminar permanentemente
          </button>
        </div>

        <div class="flex flex-row">
          <button
            class="text-sm p-1.5 text-gray-50 hover:text-white border border-gray-300 hover:bg-gray-50 font-medium rounded-lg text-center items-center transition-colors duration-200 flex"
            (click)="limpiarSeleccion()"
            aria-label="Limpiar selección"
          >
            <span class="text-sm font-medium text-gray-700 mr-2">
              <i class="bi bi-x-lg mr-2"></i>
              {{ elementosSeleccionados.length }} seleccionado(s)
            </span>
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="flex-1 min-h-0">
    <app-table
      [cabeceras]="cabeceras"
      [columnas]="columnas"
      [elementosTabla]="elementosTablaPapelera"
      [isLoading]="isLoading"
      [isError]="isError"
      [error]="error"
      (cambioSeleccion)="onSeleccionCambiada($event)"
    />
  </div>
</div>
