<div class="container mx-auto">
  <!-- Bloque de Acciones -->
  <div class="flex items-center h-12">
    <div
      class="h-full w-full rounded-lg mb-6 flex items-center justify-between transition-all duration-300 ease-in-out transform p-2"
      [ngClass]="elementosSeleccionados.length > 0 ? 'shadow-md border border-gray-200' : ''
      "
    >
      <ng-container
        *ngIf="elementosSeleccionados.length > 0; else vaciarPapeleraTemplate"
      >
        <div class="flex w-full justify-between">
          <div class="flex flex-row">
            <button
              class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
              (click)="eliminarSeleccionados()"
            >
              <svg-icon src="assets/icons/trash.svg" [svgClass]="'h-5 w-5 mr-1'" />
              Eliminar
            </button>

            <button
              class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
              (click)="restaurarSeleccionados()"
            >
              <svg-icon src="assets/icons/trash.svg" [svgClass]="'h-5 w-5 mr-1'" />
              Restaurar
            </button>
          </div>

          <div class="flex flex-row">
            <button
              class="text-sm p-1.5 text-gray-50 hover:text-white border border-gray-300 hover:bg-gray-50 font-medium rounded-lg text-center items-center transition-colors duration-200 flex"
              (click)="limpiarSeleccion()"
              aria-label="Limpiar selección"
            >
              <span class="text-sm font-medium text-gray-700 mr-2">
                <i class="bi bi-x-lg mr-2"></i>
                {{ elementosSeleccionados.length }} seleccionado(s)
              </span>
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #vaciarPapeleraTemplate>
        <button
          class="px-3 py-1.5 text-sm text-gray-600 hover:bg-gray-100 rounded-lg text-center transition-colors duration-200 flex items-center"
          aria-label="Vaciar papelera"
          (click)="vaciarPapelera()"
        >
          <svg-icon src="assets/icons/trash.svg" [svgClass]="'h-5 w-5 mr-1'" />
          Vaciar Papelera
        </button>
      </ng-template>
    </div>
  </div>

  <!-- Tabla de la papelera -->
  <div class="mt-5">
    <app-table
      [cabeceras]="cabeceras"
      [columnas]="columnas"
      [elementosTabla]="elementosTablaPapelera"
      (cambioSeleccion)="onSeleccionCambiada($event)"
    />
  </div>
</div>
